/* CSS */
.button-87 {
  height: 50px;
  width: 230px;

  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  /* text-transform: uppercase; */
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #2b7a78;;
  background-image: linear-gradient(45deg,);
  background-image: linear-gradient(45deg, #2b7a78 0%, #61bcb3  51%, #2b7a78 100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-container{
    display: flex;
    
    margin-top: 200px;
	  justify-content: space-evenly;
	  flex-wrap: wrap;
	  gap: 0px;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #b8d8d7;
  text-decoration: none;
  transform: scale(1.05) rotate(-1deg);
}

.button-87:active {
  transform: scale(0.95);
}