
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .im{
    position: absolute;
    left: 260px;
    top: 20px;
    width: 100%;
    height: 88%;
    border: 1px solid #feffff;
    border-radius: 16px;
    background-color: #feffff;
    
  }
  body{
    
    background-color: #feffff;
    height: 100vh;
    overflow: hidden;
  }
  .center{
    position: absolute;
    top: 45%;
    left: 613px;
    transform: translate(-50%, -50%);
    width: 460px;
    background:white;
    border-radius: 10px ;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  
  .image{
    height: 30px;
    margin-left: 90%;
    margin-top: auto;
  }
  .center h1{
    text-align: center;
    font-size: 33px;
	  font-weight: 600;
	  color: #17252a;
    padding: 10px 0;
    margin-top: 35px;
    border: none;
    border-bottom: 1px solid gray;
  }
  .center form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 35px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    
  }
  .txt_field label{
    position: absolute;
    top: 40%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }
  .pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
  }
  input[type="submit"]{
    margin-left: 23%;
    width: 50%;
    height: 45px;
    border: 1px solid;
    background: #17252a;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  input[type="submit"]:hover{
    border-color:  #3aafa9;
    transition: .5s;
  }
  