{% extends "index.html" %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<style>


      
    table,
    td,
    th {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 3px;
      text-align: center;
    }
   table{
      margin-left: 10%;
      margin-top: 0%;
      width: 80%;  
   }
   th{
      background-color: #3aafa9;
   }
</style>
<body>
    {% if messages %}
          {% for message in messages %}
          {% if message.tags == 'success' %}
          <div class="alert alert-success" role="alert">
              {{message}}
          </div>
              {% endif %}
          {% endfor %}
          {% endif %}
        <h3 style="text-align: center;">Total Staff</h3>

<table>
    <tr><th>Staff Id</th><th>Name</th><th>Email</th> <th>Phone</th> <th>Department</th> <th>Username</th> <th>Password</th></tr>
    {% for sts in teacherdir %}
    <tr>
        <td>{{sts.staff_id}}</td><td>{{sts.name}}</td><td>{{sts.email}}</td><td>{{sts.phone}}</td><td>{{sts.department}}</td><td>{{sts.username}}</td><td>{{sts.passwrd}}</td>
    </tr>
    <br>
    {% endfor %}
    
</table>


{% endblock body %}
</body>
<script src="/static/js/bootstrap.min.js"></script>
</html>